<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-card class="ion-no-margin">
    <ion-img src="../../assets/images/header.png"></ion-img>

    <ion-card-title style="text-align:center ;">
      Welcome <br>
      Aw bissimillah
    </ion-card-title>
    <ion-card-subtitle class="ion-text-lowercase">
      this app is a social media platphorm for artists - and
      it's all about visuals
    </ion-card-subtitle>
    <ion-card-content>
      <div class="Signin-btns" style="text-align:center ;">
        <ion-button shape="round" fill="solid" class="sign-btn-wrap" href="/loginscreem">
          Login
        </ion-button>
        <ion-button class="sign-btn-wrap" shape="round" fill="outline" color="dark" href="/singup">
          Sign Up</ion-button>
      </div><br><br>
      <div>
        <span style="margin-left:65px ;">
          Or Via Social Media
        </span>

      </div>
      <div class="social-btns"><br>
        <div class="Signin-btns" style="display: inline-flex; ">
          <ion-button fill="clear" shape="round" class="facebookbtn ">
            <ion-img src="../../assets/images/facebook.png"></ion-img>
          </ion-button>

          <ion-button fill="clear" shape="round" class="google ">
            <ion-img src="../../assets/images/google.png"></ion-img>
          </ion-button>

          <ion-button fill="clear" shape="round" class="apple ">
            <ion-img src="../../assets/images/apple.png"></ion-img>
          </ion-button>

        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>