ion-header {
    position: absolute;
}

ion-toolbar {
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-content {
    --ion-background-color: #E1EAF9;
    box-shadow: none !important;

}

.warpform {
    margin: 15px;
}

ion-item {
    color: #74787E;
    border-color: #D4D7DB;
    --highlight-color-focused: #647B9D;
    --padding-start: 0;
    --inner-padding: 0;
    font-size: 12px;

    ion-input {
        color: #647B9D;
    }

}

.password-forgot {
    text-align: right;

    ion-button {
        font-size: 12px;
    }
}

.sign-btn-wrap {
    padding-top: 20px;
    text-align: center;
    --ion-primary-color: #215AB7;
    color: #F4F6FA;

}

.text-tag {
    margin-top: 40;
   

    span {
        
        font-size: 13;
        font-weight: normal;
        color: #898585;
    }
}

ion-card-footer{
span{
    color: #85888D;
    font-size: 16px;
    font-weight: 200;
 
}
button{
    background-color: transparent;
    font-size: 20px;
    font-weight: 600px;
   
}

}

ion-card {
    --ion-backround-color: transparent;
    box-shadow: none !important;
}

.sign-btns {
    margin-top: 25px;
    text-align: center;
}

.loginbtn {
    --ion-color-primary: #215AB7;
}