ion-content {
    --ion-background-color: transparent;
}

.bg-color {
    background: #E1EAF9;
}

ion-header {
    position: absolute;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-card-tile {
    margin-top: 50px !important;
    font-size: 25px;
    color: #53565A;
    font-weight: 600;
    text-align: center;
}

ion-card-content{
    padding-top: 30px;
}

ion-card-subtitle {
    text-align: center;
    padding-top: 15px !important;
    font-size: 13px;
    color: #888C91;
    font-weight: 400;
    text-transform: none;
    padding: 0 30px;
}

ion-item {
    color: #74787E;
    --border-color: #D4D7DB;
    --highlight-color-focused: #215AB7;
    --padding-start: 0;
    --inner-padding-end: 0;

    ion-input {
        color: #74787E;
        font-size: 13px;
    }

    ion-icon {
        padding-right: 6px;
        font-size: 18;
    }


ion-input:hover {
    color: #215AB7;
}
}

.sign-btn-wrap {
    padding-top: 20px;
    text-align: center;
    .signin-btns{   
    --ion-primary-color: #215AB7;
    background:  #215AB7;
    --background-activated:#F4F6FA;
    color: #F4F6FA;
    --background-focused:#F4F6FA;
    border-radius: 25px;

}
}